In [1]:
# Importing Library
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
# Reading csv file
df=pd.read_csv("C:\\Users\\ankit\\Documents\\Project Files\\laptop price data.csv")
df.head()

,Manufacturer,IntelCore,IntelCoreGen,processing speed(GHz),Ram,HDD,SSD,Graphics(gb),ScreenSize(inch),Price
0,Dell,3,7,2.29,4,1000,0,0,15.6,39057
1,Dell,3,7,2.30,4,1000,0,0,15.6,45141
2,HP,3,7,2.30,8,256,256,0,14.0,35999
3,ASUS,3,7,2.30,4,1000,0,0,14.0,39990
4,HP,3,7,2.40,4,1000,0,0,15.6,36263

In [3]:
df.isnull().sum()

Manufacturer             0
IntelCore                0
IntelCoreGen             0
processing speed(GHz)    0
Ram                      0
HDD                      0
SSD                      0
Graphics(gb)             0
ScreenSize(inch)         0
Price                    0
dtype: int64

In [4]:
df["Manufacturer"].value_counts()

HP        11
Lenovo    10
ASUS       5
Dell       3
Name: Manufacturer, dtype: int64

In [5]:
df["Manufacturer"]=df["Manufacturer"].replace(to_replace={"HP":0,"Lenovo":1,"ASUS":2,"Dell":3})

In [6]:
df.head()

,Manufacturer,IntelCore,IntelCoreGen,processing speed(GHz),Ram,HDD,SSD,Graphics(gb),ScreenSize(inch),Price
0,3,3,7,2.29,4,1000,0,0,15.6,39057
1,3,3,7,2.30,4,1000,0,0,15.6,45141
2,0,3,7,2.30,8,256,256,0,14.0,35999
3,2,3,7,2.30,4,1000,0,0,14.0,39990
4,0,3,7,2.40,4,1000,0,0,15.6,36263

In [7]:
X=df.drop("Price",axis=1)
y=df["Price"]

In [8]:
# Standardise data
scaler=StandardScaler()
scaler.fit_transform(X)

array([[ 2.03540098, -0.55999004, -0.22444306, -0.06708383, -0.6172134 ,
         0.33204155, -0.71788534, -0.68159582,  0.36563104],
       [ 2.03540098, -0.55999004, -0.22444306, -0.0421424 , -0.6172134 ,
         0.33204155, -0.71788534, -0.68159582,  0.36563104],
       [-1.01770049, -0.55999004, -0.22444306, -0.0421424 ,  0.12858612,
        -3.80429125,  0.66426735, -0.68159582, -1.7818728 ],
       [ 1.01770049, -0.55999004, -0.22444306, -0.0421424 , -0.6172134 ,
         0.33204155, -0.71788534, -0.68159582, -1.7818728 ],
       [-1.01770049, -0.55999004, -0.22444306,  0.20727182, -0.6172134 ,
         0.33204155, -0.71788534, -0.68159582,  0.36563104],
       [-1.01770049, -1.10131375, -1.99958364, -0.0421424 , -0.6172134 ,
        -2.447752  ,  0.66426735, -0.68159582, -1.7818728 ],
       [ 0.        , -0.55999004, -0.22444306, -0.0421424 , -0.6172134 ,
         0.33204155, -0.71788534, -0.68159582,  0.36563104],
       [-1.01770049,  0.52265738,  0.36727046, -1.78804197,  0.12858612,
         0.33204155, -0.71788534, -0.68159582, -1.7818728 ],
       [ 0.        , -1.64263746, -2.59129716, -1.28921352, -0.6172134 ,
         0.33204155, -0.71788534, -0.68159582,  0.36563104],
       [ 2.03540098, -0.55999004,  0.36727046,  3.94848517, -0.6172134 ,
         0.33204155, -0.71788534, -0.68159582, -1.7818728 ],
       [-1.01770049, -0.55999004, -0.22444306, -0.0421424 ,  0.12858612,
         0.33204155, -0.71788534, -0.68159582,  0.36563104],
       [ 0.        , -1.10131375, -1.40787011, -0.0421424 , -0.6172134 ,
         0.33204155, -0.71788534, -0.68159582,  0.36563104],
       [-1.01770049, -0.55999004, -0.22444306, -0.0421424 , -0.6172134 ,
         0.33204155, -0.71788534, -0.68159582, -1.7818728 ],
       [ 0.        , -0.55999004,  0.36727046, -0.54097085, -0.6172134 ,
         0.33204155, -0.71788534, -0.68159582,  0.36563104],
       [ 0.        , -0.55999004,  0.36727046, -0.54097085,  0.12858612,
         0.33204155, -0.71788534, -0.68159582,  0.36563104],
       [-1.01770049, -0.55999004, -0.22444306, -0.0421424 ,  0.12858612,
         0.33204155, -0.71788534, -0.68159582,  0.36563104],
       [ 1.01770049,  0.52265738,  0.36727046, -1.78804197,  0.12858612,
        -2.38103695,  2.04642004, -0.68159582,  0.36563104],
       [ 0.        , -1.64263746, -2.59129716, -1.28921352, -0.6172134 ,
         0.33204155, -0.71788534, -0.68159582,  0.36563104],
       [-1.01770049, -0.55999004, -0.22444306,  0.20727182, -0.6172134 ,
         0.33204155, -0.71788534, -0.68159582,  0.36563104],
       [-1.01770049,  0.52265738,  0.95898399,  0.20727182,  0.12858612,
         0.33204155,  0.66426735,  1.15712779,  0.36563104],
       [ 1.01770049,  0.52265738,  0.95898399, -0.54097085,  0.12858612,
         0.33204155,  2.04642004,  1.15712779,  0.36563104],
       [-1.01770049,  0.52265738,  0.95898399,  0.20727182,  0.12858612,
         0.33204155, -0.71788534,  1.15712779,  0.36563104],
       [ 1.01770049,  1.60530479,  0.36727046, -0.29155663,  0.12858612,
         0.33204155, -0.6315008 ,  1.15712779,  0.36563104],
       [ 0.        ,  1.60530479,  0.95898399,  0.70610027,  0.12858612,
         0.33204155,  0.66426735,  1.15712779,  0.36563104],
       [ 0.        ,  1.60530479,  0.95898399,  0.70610027,  1.62018517,
         0.33204155,  0.66426735,  1.15712779,  0.36563104],
       [ 0.        ,  1.60530479,  0.95898399,  0.70610027,  0.12858612,
         0.33204155,  2.04642004,  1.15712779,  0.36563104],
       [ 0.        ,  0.52265738,  0.95898399,  0.20727182,  0.12858612,
         0.33204155,  0.66426735,  0.69744689,  0.36563104],
       [ 1.01770049,  1.60530479,  0.95898399,  0.70610027,  4.60338327,
         0.33204155,  2.04642004,  2.9958514 ,  2.64735388],
       [-1.01770049,  1.60530479,  0.95898399,  0.70610027,  0.12858612,
         0.33204155,  0.66426735,  1.15712779,  0.36563104]])

In [9]:
# train test split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=40)

In [10]:
# Random Forest Regressor
rfc=RandomForestRegressor(random_state=1)
rfc.fit(X_train,y_train)
predict_rfc=rfc.predict(X_test)
print(predict_rfc)

[54617.3875 83023.39   89198.56   45823.05   43633.2275 40108.23  ]

In [11]:
rfc.score(X_train,y_train)

0.9433690863721839

In [13]:
# Comparison b/w predicted and actual data
pro=pd.DataFrame({"Price":y_test,"Prediction":predict_rfc})
pro

    Price  Prediction
2   35999  54617.3875
16  56990  83023.3900
19  74931  89198.5600
14  45390  45823.0500
15  40338  43633.2275
13  42590  40108.2300